.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.App-logo {
  width: 10%;
  margin: 20px auto;
}

.text-editor {
  width: 60%;
  height: 100px;
  margin: 20px auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  text-align: left;
  font-size: 16px;
}

.word-storage-table {
  width: 60%;
  margin: 20px auto;
  border-collapse: collapse;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.word-storage-table th,
.word-storage-table td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
}

.word-storage-table th {
  background-color: #f4f4f4;
}

.typed {
  background-color: lightgreen;
  color: black;
}

.pasted {
  background-color: lightsalmon;
  color: black;
}

.text-editor {
  width: 60%;
  height: 100px;
  margin: 20px auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  text-align: left;
  font-size: 16px;
  overflow-y: auto;  /* Add scroll bar */
  white-space: pre-wrap;  /* Preserve spaces and line breaks */
  word-wrap: break-word;  /* Wrap long words */
}